############################################################
# APPLICATION SETTINGS
############################################################

# Application name
APP_NAME=PachyBase

# Application environment
# Possible values: development | production
APP_ENV=development

# Enable debug mode (shows detailed errors)
APP_DEBUG=true


############################################################
# DATABASE CONFIGURATION
############################################################

# Database driver
# Supported in MVP: mysql | pgsql
DB_DRIVER=mysql

# Database host
# When using Docker, this is usually the service name
DB_HOST=db

# Database port
# For mysql: 3306, for pgsql: 5432
DB_PORT=3306

# Database name
DB_DATABASE=pachydbase

# Database username
# For mysql: root, for pgsql: postgres
DB_USERNAME=pachybase

# Database password
DB_PASSWORD=change_this_password
