<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="PachyBase Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>api</directory>
            <directory>auth</directory>
            <directory>config</directory>
            <directory>core</directory>
            <directory>database</directory>
            <directory>modules</directory>
            <directory>public</directory>
            <directory>routes</directory>
            <directory>services</directory>
            <directory>utils</directory>
        </include>
    </source>
</phpunit>
